body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/*hero btn*/
#popup1 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  text-align: center;
  overflow: hidden;
}

#popup1 h2 {
  color: #333;
}

#popup1 form {
  margin-top: 20px;
}

#popup1 label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

#popup1 input,
#popup1 textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#popup1 input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

#popup1 input[type="submit"]:hover {
  background-color: #45a049;
}

#popup1 #closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

/* Responsive Styles */
@media (max-width: 600px) {
  #popup1 {
      width: 80%;
      margin-top: 100px;
      
      
  }
}

@media (max-width: 400px) {
  #popup1 {
      padding: 15px;
  }
}

/* Mobile Menu Styles */
.mobile-menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

@media (max-width: 600px) {
  .mobile-menu {
      display: block;
  }

  #popup1 {
      top: 0;
      transform: translate(-50%, 0);
      max-width: 100%;
      height: 100%;
      overflow-y: scroll;
  }
}
/*hero btn end*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #333;
  color: #fff;
}

.head{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-height: 50px;
}

.brand {
  font-size: 1.5em;
  color:rgb(255, 196, 0) ;
  margin-left: 0px;
}

.menu-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-menu {
  display: flex;
}
.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #ffd700; /* Change color on hover */
}

.product-list {
  position: relative;
}

.product-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #555;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.product-dropdown a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.product-dropdown a:hover {
  background-color: rgb(255, 255, 255);
  color: red;
}

.products-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button{
  background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button :hover{
  background-color: #bdbdbd;
}
@media only screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .menu-toggle {
      display: block;
      align-items: center;
      float: right;
  }

  .nav-menu {
      display: none;
      width: 100%;
      text-align: center;
  }

  .nav-menu.active {
      display: flex;
  }

  .nav-menu ul {
      flex-direction: column;
  }

  .nav-menu li {
      margin: 10px 0;
  }

  .dropdown-menu {
      position: static;
      display: none;
      background-color: transparent;
      box-shadow: none;
  }

  .dropdown:hover .dropdown-menu {
      display: none;
  }
}


  
  
  /*header mobile*/

  /*hero*/
  .hero{
    background-color: #161A30;
    display: flex;
  
  }

  .heroimg{
    margin-bottom: -20px;
    margin-top: -40px;
    
  }

  .heroimg1{
    margin-left: auto;
    margin-right: auto;
  }

  .heroleft{
    background-color: #B6BBC4;
    width: 25%;
    max-height: 500px;
    justify-content: left;

  }


  .heroleft img{
    width: 100%;
    height: 100%;
  }
  .heroleft1{
    display: none;
  }

  @media only screen and (max-width: 768px){
    .hero{
      display: block;
    }

    .heroleft{
      width: 100%;
     display: none;
    }

  .heroimg{
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .heroleft1{
    display: block;
    background-color: #161A30;
    padding: 10%;
  }
.leftimg1{
  width: 100%;
 
}

  
  }

  /*end hero*/

  /*galary*/

  #gallery-carousel {
    position: relative;
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    overflow: hidden;
    margin-top: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-control {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/*who we*/
.us{
  padding: 10px 20px ;
  background-color: #B6BBC4 ;
  display: flex;
}
.whowe{
  width: 50%;
  text-align: justify;
  justify-content: center;
  padding: 10px
}

.whowe h2{
color: #31304D;
}

.featureimg {
display: flex;

height: 100px;
display: flex;
width: 10%;
}

/*who we mobile*/



@media only screen and (max-width: 768px){
  .us{
    display: block; 
  }
  .whowe{
    text-align: justify;
    width: 100%;
    padding: 0%;
  }

  .whowe h2,h3{
    text-align: center;

  }
}

/*why should*/

@keyframes colorChange {
  0% { color: black; }
  50% { color: red; } /* Change to your desired color */
  100% { color: black; }
}

.whysect {
  animation: colorChange 3s infinite; /* Adjust the duration as needed */
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffbb00;
  margin-top: 0%;
  font-size: 2.5rem;
  margin-bottom: 0%;
}

.custom-carousel-container {
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  background-color: #EF4040;
  color: white;
}

.custom-carousel-container p{
  font-size: 1.2rem;
}

.custom-carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.custom-carousel-item {
  flex: 0 0 33.33%; /* Show three items at a time */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.custom-carousel-item p{
  text-align: center;
}

.custom-carousel-item h2{
  color: yellow;
  font-size: 2rem;
  
}
.custom-carousel-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.custom-carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 20px;
}

.custom-control-button {
  display: none;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .custom-carousel-item {
      flex: 0 0 100%; 
}

.custom-carousel-controls{
  display: none;
}
.whysect{
  font-size: 2rem;
  padding-top: 50px;
}
}

@media (min-width: 768px) {
  /* Desktop styles */
  .custom-carousel-item {
      flex: 0 0 100%; }
  }

  /*popup*/

 
/*end popup*/

/*contact foam*/
.contact-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin:  auto;
  background-color: #161A30;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contact-info-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #161A30;
  color: #ffffff;
}

.contact-info-container h2 {
  color: #ffffff;
}

.contact-info-container p {
  margin: 10px 0;
}

.highlight-phone {
  cursor: pointer;
  color: #ffffff;
}

.contact-form-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #161A30;
  color: #333333;
}

.contact-form-container h2 {
  color: #888;
}

.contact-form-container label {
  display: block;
  margin-bottom: 8px;
  color: #888;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form-container input[type="submit"] {
  background-color: #28a745;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.contact-form-container input[type="submit"]:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
  }

  .contact-info-container,
  .contact-form-container {
      width: 100%;
  }
}
/*contact details*/

/*popupadv*/
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: rgb(252, 151, 0);
  padding: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative; /* Added for positioning the manual close button */
}

/* Close button styles */
.close-button {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s ease;
}

.close-button:hover,
.close-button:focus {
  color: #000;
}

/* Manual close button styles */
.manual-close-button {
  background-color: rgb(255, 0, 0);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto; /* Center the button */
}

.manual-close-button:hover,
.manual-close-button:focus {
  background-color: #000;
}

@media (max-width: 768px)  {
  .popup-container {
      width:  80%;
      margin: 0 auto;
      padding: 25px;
      
  }

  .popup-content {
      padding: 5px;
  }
  .popup-container img{
    width: 75%;
  }
}
/*popupadv*/

/*about us*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 0%;
}

.about{
  background-color :#31304D;
  margin-top: 0%;
  padding: 20px;
}

.about h2{
  color: #ffae00;
}


.product, .why-choose-us {
  margin-bottom: 20px;
}

.aboutsec{
  padding-left: 20px ;
  padding-right: 20px;
  width: 75%;
  margin: auto;
  text-align: center;

}
.aboutsec p{
  text-align: justify;
}

.aboutproduct{
  padding-left: 20px ;
  padding-right: 20px;
  width: 75%;
  margin: auto;
  text-align: center;
}

.why-choose-us{
  padding: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: red;
  color: white;
}
.why-choose-us ul li{
line-height: 50px;
font-size: 1rem;
list-style: none;
align-items: center;
text-align: left;
font-weight: 600;

}
.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
   bottom: 0; 
   width: 100%;
}

@media (max-width: 768px) {
  .product, .why-choose-us {
      margin-bottom: 10px;
  }

  header {
      padding: 10px 0;
  }

  .product img {
      margin-top: 0;
  }

  .aboutproduct{
    width: 100%;
    padding: 10px;
  }
  .aboutproduct p{
    text-align: justify;
    padding: 20px;
  }
  .aboutproduct img{
    width: 100%;
  }
  .why-choose-us{
  padding: 0%;
  padding-bottom: 10px;
  padding-top: 10px;
    width: 100%;
    font-size: small;
    margin-bottom: 0%;
    
  }
  .why-choose-us ul li{
    line-height: normal;
    font-size: 0.5rem;
    text-align: left;
  }
  footer{
    padding-top: 10px;
  }
}


/*blog*/


main {
  max-width: 100%;
  margin:  auto;
  padding: 5px 30px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

main h1{
  text-align: center;
}

.article {
  display: block;
}

.post-navigation {
  text-align: center;
  margin-top: 20px;
}

.aboutbutton {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  
}

.article h1{
  font-size: 2rem;
  color: #ff9100;
}
.blogheader{
  
  padding: 10px;
  background-color: #000000;
}

.article p{
  text-align: justify;
}

.galfoot{
  width: 100%;
  bottom: 0%;
  position: fixed;
  margin: auto;
}

@media (max-width: 768px){
  .article h1{
    font-size: 2rem;
    text-align: center;
  }
}

.article img{
  display: block;
 margin: auto;
 width: 40%;
}

/* product popup*/

/*product popup end*/

/*galary page*/

.gallery{
  display: block;
  padding: 20px;
  justify-content: space-between;
  background-color: #000;
  padding-bottom: 10px;
}

.gallery-left{
  
  color: #ff9100;
  text-align: justify;
  justify-content: center;
  width: 100%;
}

.gallery-left p{
  color: white;
}
.gallery-right{
  max-width: 75%;
  margin: auto;
  padding: 0%;
}

.gallery-carousel1{

  position: relative;
    width: 75%;
    max-width: 100px; /* Adjust the maximum width as needed */
    overflow: hidden;
    margin-top: 20px;
    margin: auto;
    padding-bottom: 120px;
}
@media (max-width: 768px){
  .gallery-right{
    max-width: 100%;
    padding: 0%;
  }
.gallery h1{
  text-align: center;
}

}
/*gallery page end*/
